name: Push Docker Images to Dockerhub Registery

on:
  release:
    types: [published]

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push dis-sim-api
        uses: docker/build-push-action@v3
        with:
          context: ./src/api/.
          file: ./src/api/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_api:${{ github.event.release.tag_name }},${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_api:latest
      - name: Build and push dis-sim-auth
        uses: docker/build-push-action@v3
        with:
          context: ./src/auth/.
          file: ./src/auth/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_auth:${{ github.event.release.tag_name }},${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_auth:latest
      - name: Build and push dis-sim-frontend
        uses: docker/build-push-action@v3
        with:
          context: ./src/frontend/.
          file: ./src/frontend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_frontend:${{ github.event.release.tag_name }},${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_frontend:latest
      - name: Build and push dis-sim-monitor
        uses: docker/build-push-action@v3
        with:
          context: ./src/monitor/.
          file: ./src/monitor/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_monitor:${{ github.event.release.tag_name }},${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_monitor:latest
      - name: Build and push dis-sim-similarity
        uses: docker/build-push-action@v3
        with:
          context: ./src/similarity/.
          file: ./src/similarity/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_similarity:${{ github.event.release.tag_name }},${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_similarity:latest
      - name: Build and push dis-sim-data-population
        uses: docker/build-push-action@v3
        with:
          context: ./src/similarity/.
          file: ./src/data_population/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_data_population:${{ github.event.release.tag_name }},${{ secrets.DOCKER_HUB_USERNAME }}/dis_sim_data_population:latest
          
